/* Global */

body {
  font-family: 'Inter', sans-serif;
}

header {
  height: 60px;
}

footer {
  background-color: #031c4e;
  color: #909aae;
  padding: 40px 0;
}

/* Layout */
.dm-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dm-pd-30 {
  padding: 30px;
}


/* Tipography */
h1 {
  font-size: 4em;
  font-weight: 500;
  color: #ffffff;
}
h3 {
  text-align: center;
}
a {
  text-decoration: none;
  color: #006aff;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

a.link, a:active {
  text-decoration: none;
  color: #000000;
}

li:hover {
  color: #006aff;
}

/* Colors */
.blue {
  color: #006aff;
}

.gray {
  background-color:  #f3f5f9;
}

.heavenly {
  color: #00d1d1;
}

/* Menu */
.logo {
  line-height: 60px;
}

.logo > img {
  width: 200px;
}

nav ul {
  display: inline-block;
  line-height: 60px;
}

nav ul li {
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  padding: 0 8px;
}

nav ul li a {
  color: #000000;
}

nav ul li a:hover {
  color: #006aff;
}

.dm-menu-hamburger {
  line-height: 60px;
}

/* Icons */
.fa-chevron-right {
  color: #006aff;
}

/* Button */
.btn-form {
  color: #ffffff;
  background-color: #006aff;
  border: 1px solid #006aff;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.btn-google {
  color: gray;
  background-color: #ffffff;
  border: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 1.2em;
  box-shadow: 0 2px 2px 1px #777;
  margin-bottom: 10px;
}

.btn-border {
  color: #006aff;
  border: 1px solid #006aff;
  border-radius: 5px;
  padding: 8px;
}

.btn-border:hover {
  background-color: #006aff;
  color: #ffffff;
}

.btn-white {
  color: #006aff;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2em;
  margin: 10px 0;
}

.btn-white:hover {
  color: #000000;
}

/* Slider */
#slider {
  background-color: #004aff;
  height: 600px;
}

.sfondo {
  background-image: url("/assets/img/bg-banner-home.jpg");
  background-size: cover;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#slider > p {
  color: #ffffff;
}

.item-description {
  color: #ffffff;
  font-size: 1.2em;
  line-height: 1.5em;
}

.box {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
}

.box > p {
  color: #000000;
  text-align: center;
}

.box-slider {
  width: 100%;
  margin: 8px auto;
  border: none;
  border: 1px lightgray solid;
  border-radius: 3px;
  padding: 15px;
}

/* Partner */
#partner {
  background-color: #f3f5f9;
  height: 200px;
  line-height: 60px;
}

#partner p {
  text-transform: uppercase;
  font-weight: 500;
  color: #77829d;
}

/* Service */
#service {
  margin: 40px 0;
}
#service ul {
  list-style-type: none;
  margin-top: 25px;
  margin-left: 40px;
}

#service ul li {
  color: gray;
  border-left: 2px solid lightgray;
  padding: 10px;
}

#service ul li:hover {
  color: #006aff;
}

/* Dashboard */
#dashboard {
  padding: 20px;
}

#dashboard img {
  width: 60%;
  padding: 20px;
}

.fa-circle {
  color: #006aff;
}

#dashboard .fa-angle-left, .fa-angle-right {
  font-size: 36px;
  color: #031c4e;
}

#dashboard .fa-angle-left {
  color: #6f7b97;
}

/* Feature */
#features {
  margin: 40px 0;
}

/* List-service */
#list-service {
  background: rgb(0,71,197);
  background: radial-gradient(circle, rgba(0,71,197,1) 26%, rgba(0,34,157,1) 100%);
  padding: 60px 0;
}

#list-service h3 {
  color: #ffffff;
}

.list-service {
  display: inline;
  list-style-type: none;
  color: #ffffff;
  margin: 10px 0;
}

.col-xs-7 > .list-service {
  color: #77829d;
}

.col-xs-3 > .list-service {
  color: #00d1d1;
}

.box-service {
  border-bottom: 1px solid #ffffff;
  margin: 0 20px;
  padding: 10px 0;
}

.box-service-no-border {
  margin: 0 20px;
  padding: 10px 0;
}

/* dashboard-2 */
#dashboard-2 {
  padding: 60px 0;
}

#dashboard-2 .box {
  background-color: #ffffff;
  padding: 30px;
}

/* Cta */
#cta {
  background: rgb(0,71,197);
  background: radial-gradient(circle, rgba(0,71,197,1) 26%, rgba(0,34,157,1) 100%);
  padding: 60px;
}

#cta h3 {
  color: #ffffff;
}

/* Footer */
footer ul li {
  list-style-type: none;
  padding: 5px 0;
}

footer ul li:first-child {
  font-weight: 500;
  color: #ffffff;
  font-size: 1.1em;
}

.menu-footer {
  display: inline;
  padding: 5px;
  font-size: 1.3em;
}

.logo-small {
  padding: 10px;
}